CV_Walter_Catalfamo.aux
CV_Walter_Catalfamo.fdb_latexmk
CV_Walter_Catalfamo.fls
CV_Walter_Catalfamo.log
CV_Walter_Catalfamo.out
CV_Walter_Catalfamo.pdf
CV_Walter_Catalfamo.synctex.gz
CV_Walter_Catalfamo.tex
CV_Walter_Catalfamo.xdv